@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  font-family: 'Lato', sans-serif;
  background-color: #eeeeee;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
  position: sticky;
  top: 0;
  padding: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: row;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  color: black;
  text-decoration: none;
}

logo > p {
  display: flex;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
  margin-left: 4rem;
  margin-right: 4rem;
}

.email-form {
  text-align: center;
}

input[type=email] {
  border: 1px solid black;
  margin: 1rem;
  padding: .5rem;
  width: 300px
}

input[type=submit] {
  border: none;
  background-color: #f3c00d;
  padding: .7rem;
  font-weight: 1000;
}

input[type=submit]:hover { background-color: rgb(255, 162, 0); }

input[type=button]:hover {
  background-color:rgb(255, 162, 0);
}

.feature {
  text-align: left;
  margin: 1rem;
  margin-bottom: 3rem;
}

.icon {
  font-size: 1.5rem;
}

.description {
  margin: 0;
  padding: 0;
  margin-left: 2rem;
}

iframe {
  max-width: 50rem;
  margin: 0 auto;
  display: block;
}


#prices {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid black;
}

.product-name {
  width: 100%;
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  font-weight: 600;
}

.product > h2 {
  margin-top: .5rem;
}

.product-text {
  margin: 1rem
}

.product-text > p {
  padding: 5px;
}

.product input {
  background-color: #f3c00d;
  font-weight: 600;
  border: none;
  margin: 1rem;
  padding: .5rem;
}

footer {
  background-color: #dadada;
  margin-top: 30px;
  padding: 20px;
}

footer > ul {
  display: flex;
  list-style: none;
  justify-content: right;
  gap: 20px;
  background-color: #dadada;
}

footer > ul > Li {
  background-color: #dadada;
}

footer > p {
  display: flex;
  justify-content: flex-end;
  background-color: #dadada;
  margin-top: 10px;
  color: rgb(86, 86, 86);
}

@media (max-width: 720px) {
  .icon {display: none;}
  .description {text-align: center;}
  header {
    flex-direction: column;
    justify-content: center;
  }

  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  nav ul {
    justify-content: center;
    flex-direction: column;
    padding: 0;
    gap: 4px;
  }

  input[type=email] {
    width: 70%;
  }

  #prices {
    flex-direction: column;
    
  }

  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (min-width: 720px){
  .feature {
    display: grid;
    grid-template-columns: 10% 80%;
    justify-content: center;
    align-items: center;
  }
}